@layer base;

:root {
    --accent-0: #0ea5e9;
    --accent-1: #0284c7;

    --light-0: #e5e7eb;
    --light-1: #d1d5db;
    --light-2: #9ca3af;
    --dark-0: #111827;
    --dark-1: #1f2937;
    --dark-2: #374151;

    --bg-0: var(--light-0);
    --bg-1: var(--light-1);
    --bg-2: var(--light-2);
    --fg-0: var(--dark-0);
    --fg-1: var(--dark-1);
    --fg-2: var(--dark-2);

    --fg-opacity-faint: rgba(0, 0, 0, 0.15);
    --fg-opacity-strong: rgba(0, 0, 0, 0.25);
    --bg-opacity-faint: rgba(255, 255, 255, 0.15);
    --bg-opacity-strong: rgba(255, 255, 255, 0.25);

    @media (prefers-color-scheme: dark) {
        --bg-0: var(--dark-0);
        --bg-1: var(--dark-1);
        --bg-2: var(--dark-2);
        --fg-0: var(--light-0);
        --fg-1: var(--light-1);
        --fg-2: var(--light-2);

        --fg-opacity-faint: rgba(255, 255, 255, 0.15);
        --fg-opacity-strong: rgba(255, 255, 255, 0.25);
        --bg-opacity-faint: rgba(0, 0, 0, 0.15);
        --bg-opacity-strong: rgba(0, 0, 0, 0.25);
    }

    --box-shadow-thin: 0 0 7px rgba(0, 0, 0, 0.2);

    --regular: 400;
    --bold: 700;

    --bg-gradient: linear-gradient(15deg, var(--bg-1), var(--bg-0));

    --grid-columns: 1fr 3fr;
}

html,
body {
    margin: 0;
    padding: 0;

    font-family: "Noto Sans", sans-serif;
    font-weight: var(--regular);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

*::selection {
    transition: background-color 0.1s ease-out;
    background-color: var(--bg-opacity-darken);

    @media (prefers-color-scheme: dark) {
        background-color: rgba(255, 255, 255, 0.15);
    }
}

.loud {
    text-transform: uppercase;
    font-weight: 700;
}

.scrollable {
    overflow-y: auto;
    scroll-behavior: smooth;
}

.scrollable::-webkit-scrollbar {
    background-color: transparent;
    width: 0.375rem;
}

.scrollable::-webkit-scrollbar-track {
    background-color: transparent;
    margin: 0.25rem 0;
    cursor: pointer;
}

.scrollable::-webkit-scrollbar-thumb {
    background-color: var(--fg-opacity-faint);
    opacity: 0.2;
    border-radius: 10rem;
    cursor: pointer;
}

.scrollable::-webkit-scrollbar-thumb:hover {
    background-color: var(--fg-opacity-strong);
}

@layer base {
    svg {
        display: block;
        width: 1em;
    }
}

img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
}

body {
    color: var(--fg-0);
    background-color: var(--bg-0);
    background-image: url("/img/embossed-diamond.webp");
    background-blend-mode: multiply;
    letter-spacing: 0.02em;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    transition:
        color 0.3s ease-out,
        background-color 0.3s ease-out;

    display: grid;
    grid-template-columns: var(--grid-columns);
    grid-template-rows: auto auto;
}

header {
    position: sticky;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    padding: 1.5rem 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

main {
    background-color: var(--bg-1);
    background-image: var(--bg-gradient);
    box-shadow: var(--box-shadow-thin);
    margin: 3rem 4.5rem 3rem 2.5rem;
    border-radius: 0.125rem;
    grid-area: 1 / 2;
}

@layer base {
    .standard-button {
        position: relative;

        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 0.125rem;

        color: var(--fg-1);
        background: none;
        background-color: var(--bg-1);
        font-family: inherit;
        font-size: 0.875rem;
        text-align: left;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 0.67rem 1rem;
        border-radius: 0 0.125rem 0.125rem 0;

        border-width: 0 0.25rem 0 0.25rem;
        border-style: solid;
        border-color: var(--bg-1);

        transition:
            border-color 0.1s ease-out,
            background-color 0.1s ease-out,
            padding 0.1s ease-out;
    }

    .standard-button:hover {
        color: var(--fg-0);
        background-color: var(--bg-0);
        border-left-color: var(--fg-0);
        border-right-color: var(--bg-0);
        padding-left: 1.25rem;
        padding-right: 0.75rem;
    }

    .standard-button:disabled {
        pointer-events: none;
        opacity: 0.4;
    }

    .notification {
        display: block;
        font-size: 0.5rem;
        font-weight: 700;
        background-color: var(--fg-1);
        color: var(--bg-0);
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 50%;
        text-align: center;
    }

    .plain-button {
        background: none;
        border: none;
        font-family: inherit;
        font-weight: inherit;
        color: inherit;
        text-decoration: underline;
        color: var(--fg-2);
        cursor: pointer;
    }

    .plain-button:hover {
        color: var(--fg-0);
    }
}
