.note {
    margin-bottom: 1rem;
}

.note:has(.no-notes) {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.no-notes {
    margin-bottom: 1rem;
    font-style: oblique;
    color: var(--fg-1);
}

.title,
.title-editor {
    font-size: 2rem;
    border: none;
    border-bottom: 0.125rem solid var(--fg-0);
    padding: 0.25rem 0.5rem 0.5rem;
    margin-bottom: 1.5rem;
    font-weight: var(--bold);
    border-radius: 0.125rem 0.125rem 0 0;
}

.title:hover {
    background: var(--bg-opacity-darken);
}

.title-editor {
    display: block;
    appearance: none;
    width: 100%;
    background: var(--bg-opacity-darken);
    outline: none;
    font-family: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    color: inherit;
}

.title-editor {
    padding: 0.5rem 1rem;
}
