{{block "blocks" .}}
    <div id="blocks">
        {{range .Blocks}}
            {{template "block-container" .}}
        {{end}}
    </div>
{{end}}

{{block "readonly-blocks" .}}
    <div id="blocks">
        {{range .Blocks}}
            <p id="block-{{.ID}}" class="block readonly">
                {{.Content}}
            </p>
        {{end}}
    </div>
{{end}}

{{block "block-container" .}}
    <div id="block-container-{{.ID}}" class="block-container">
        <div id="block-controls-{{.ID}}" class="block-controls">
            <button
                class="block-control"
                hx-delete="/blocks/{{.ID}}"
                hx-target="#block-container-{{.ID}}"
                hx-swap="outerHTML"
            >
                {{template "icon-trash"}}
            </button>

            <button
                id="move-block-{{.ID}}"
                class="block-control"
                title="Move"
                hx-get="/blocks/{{.ID}}/move"
                hx-swap="afterend"
                hx-target="#block-container-{{.ID}}"
            >
                {{template "icon-move"}}
            </button>
        </div>
        {{template "block" .}}
    </div>
{{end}}

{{block "block" .}}
    <p
        id="block-{{.ID}}"
        class="block"
        hx-get="/blocks/{{.ID}}/edit"
        hx-swap="outerHTML"
    >
        {{.Content}}
    </p>
{{end}}

{{block "block-editor--new" .}}
    <input
        id="block-editor"
        name="content"
        class="block-editor"
        hx-post="/blocks?note_id={{.NoteID}}"
        hx-trigger="blur, keydown[/Enter|Escape/.test(key)]"
        hx-swap="outerHTML"
        autofocus
    />
{{end}}

{{block "block-editor--existing" .}}
    <input
        id="block-editor"
        name="content"
        class="block-editor"
        hx-put="/blocks/{{.ID}}"
        hx-trigger="blur, keydown[/Enter|Escape/.test(key)]"
        hx-swap="outerHTML"
        autofocus
        value="{{.Content}}"
    />
{{end}}

{{block "block-editor--afterpost" .}}
    {{template "block-container" .}}
    {{template "block-editor--new" .}}
{{end}}

{{block "block-mover" .}}
    <div
        id="block-mover-{{.ID}}"
        class="block-mover"
        hx-target="#blocks"
    >
        <button
            title="Cancel"
            class="block-mover-button standard-button"
            hx-get="/blocks/{{.ID}}/move/cancel"
            hx-disinherit="hx-target"
            hx-target="#block-mover-{{.ID}}"
            hx-swap="delete"
        >
            {{template "icon-cancel"}}
        </button>
        <button
            title="Move Up"
            class="block-mover-button standard-button"
            hx-put="/blocks/{{.ID}}/move?direction=up"
        >
            {{template "icon-up"}}
        </button>
        <button
            title="Move Down"
            class="block-mover-button standard-button"
            hx-put="/blocks/{{.ID}}/move?direction=down"
        >
            {{template "icon-down"}}
        </button>
        <button
            title="Move to Top"
            class="block-mover-button standard-button"
            hx-put="/blocks/{{.ID}}/move?direction=top"
        >
            {{template "icon-top"}}
        </button>
        <button
            title="Move to Bottom"
            class="block-mover-button standard-button"
            hx-put="/blocks/{{.ID}}/move?direction=bottom"
        >
            {{template "icon-bottom"}}
        </button>
    </div>
{{end}}

{{block "add-new-block" .}}
    <div class="add-new-block">
        <button
            class="add-new-block-button standard-button"
            title="New Text Block"
            hx-get="/blocks/new?note_id={{.ID}}&block_type=plain"
            hx-target="#blocks"
            hx-swap="beforeend"
        >
            {{template "icon-text"}}
        </button>
        <span class="add-new-block-label">add a new block</span>
    </div>
{{end}}
