{{block "index" .}}
    <!doctype html>
    <html lang="en">
        {{template "head"}}
        <body>
            <div
                id="search-results"
                class="search-results"
            ></div>

            {{template "sidebar" .}}

            {{template "main" index . 0}}

            {{template "footer" .}}
        </body>
    </html>
{{end}}

{{block "blank-index" .}}
    <!doctype html>
    <html lang="en">
        {{template "head"}}
        <body>
            {{template "sidebar" .}}

            {{template "blank-main"}}
        </body>
    </html>
{{end}}
