{{block "main" .}}
    <main id="main-container">
        {{template "note-content" .}}
    </main>
{{end}}

{{define "blank-main"}}
    <main id="main-container">
        {{template "blank-note-content"}}
    </main>
{{end}}

{{define "new-note"}}
    <input
        id="title-editor"
        class="title-editor"
        name="title"
        autofocus
        hx-post="/notes"
        hx-target="#main-container"
        hx-trigger="blur, keydown[/Enter|Escape/.test(key)]"
    />
{{end}}

{{block "new-note-block-editor" .}}
    <div id="note" class="note">
        {{template "title" .}}
        {{template "block-editor--new" index .Blocks 0}}
    </div>
    {{template "add-new-block" .}}
    {{template "insert-preview-oob" .}}
{{end}}

{{block "note-content" .}}
    <div id="note" class="note">
        {{template "title" .}}
        {{template "blocks" .}}
    </div>
    {{template "add-new-block" .}}
{{end}}

{{define "blank-note-content"}}
    <div id="note" class="note">
        <p class="no-notes">no notes yet...</p>

        {{template "new-note-button"}}
    </div>
{{end}}

{{block "note-oob" .}}
    <main id="main-container" hx-swap-oob="true">
        {{template "note-content" .}}
    </main>
{{end}}

{{define "blank-note-oob"}}
    <main id="main-container" hx-swap-oob="true">
        {{template "blank-note-content" .}}
    </main>
{{end}}

{{block "title" .}}
    <h1
        id="title"
        class="title"
        hx-get="/notes/{{.ID}}/edit"
        hx-swap="outerHTML"
    >
        {{.Title}}
    </h1>
{{end}}

{{block "replace-title" .}}
    {{template "title" .}}
    {{template "preview-oob" .}}
{{end}}

{{block "title-editor" .}}
    <input
        id="title-editor"
        class="title-editor"
        name="title"
        autofocus
        onfocus="this.select();"
        hx-put="/notes/{{.ID}}"
        hx-swap="outerHTML"
        hx-trigger="blur, keydown[/Enter|Escape/.test(key)]"
        {{if .Title}}
            value="{{.Title}}"
        {{end}}
    />
{{end}}
