{{block "sidebar" .}}
    <nav class="sidebar">
        <a class="logo" href="/">
            <img
                src="/img/logo.png"
                width="194"
                height="53"
                alt="GoNote (stylized Logo)"
            />
        </a>

        {{template "quick-search"}}

        {{template "preview-links" .}}
    </nav>
{{end}}

{{define "new-note-button"}}
    <button
        class="standard-button new-note"
        hx-get="/notes/new"
        hx-target="#main-container"
        hx-trigger="click, keydown[ctrlKey&&key=='N'] from:document"
    >
        {{template "icon-plus"}}
        add a new note
    </button>
{{end}}

{{block "preview-links" .}}
    <ul id="preview-links" class="preview-links scrollable">
        {{template "notes" .}}
    </ul>
{{end}}

{{block "preview" .}}
    <li id="preview-{{.ID}}" class="preview">
        {{template "preview-controls" .}}
    </li>
{{end}}

{{block "preview-oob" .}}
    <li id="preview-{{.ID}}" class="preview" hx-swap-oob="true">
        {{template "preview-controls" .}}
    </li>
{{end}}

{{block "notes" .}}
    {{range .}}
        {{template "preview" .}}
    {{end}}
{{end}}

{{block "insert-preview-oob" .}}
    <ul hx-swap-oob="afterbegin:#preview-links">
        {{template "preview" .}}
    </ul>
{{end}}

{{block "preview-controls" .}}
    <a
        class="preview-link standard-button"
        hx-get="/notes/{{.ID}}"
        hx-target="#main-container"
    >
        <span class="clip-text">{{.Title}}</span>
    </a>
    {{template "show-more-options" .}}
{{end}}

{{block "show-more-options" .}}
    <button
        title="More Options"
        id="preview-more-options-{{.ID}}"
        class="preview-more-options"
        hx-get="more-options/show?note_id={{.ID}}"
        hx-swap="outerHTML"
    >
        {{template "icon-dots"}}
    </button>
{{end}}

{{block "more-options" .}}
    <ul id="more-options-{{.ID}}" class="more-options">
        <li class="more-option">
            <button
                title="Delete Note"
                class="standard-button"
                hx-delete="/notes/{{.ID}}"
                hx-swap="delete swap:0.4s"
                hx-target="#preview-{{.ID}}"
            >
                {{template "icon-trash"}}
            </button>
        </li>
        <li class="more-option">
            <button
                title="Cancel"
                hx-get="more-options/hide?note_id={{.ID}}"
                hx-swap="outerHTML swap:0.2s"
                hx-target="#more-options-{{.ID}}"
                class="standard-button"
            >
                {{template "icon-cancel"}}
            </button>
        </li>
    </ul>
{{end}}
